#NewDashCONtiner{
background-color: aquamarine;
width: 100%;
display: flex;
border: 1px solid #30f9d7;
border-bottom: none;
}
#sideDashNew{


display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
#MainDashNew{
    width: calc(100% - 250px);
    margin-left: 250px;
background-color: #fff;
min-height:100vh;
max-height: auto;
}
#sideDashNew div{
    background-color: #fcf5f5;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #53e5f4;
    font-size: 25px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 600;
    cursor: pointer;
   

}
#sideDashNew div:hover{
    transform: scale(1.07);
}
#CourseDAShNEWContiner{
    background: linear-gradient(-90deg,#30f9d7  0, #94eff9 100%);
}
#btnTItleTable{
    padding: 10px;
    background-color: #fcf5f5;
    border-radius: 5px;
  
}
#btnTItleTable1{
    padding: 10px;
    background-color: #fcf5f5;
    border-radius: 5px;
    width: 60px;
}
#RowTable{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    height: 100px;
}
#CateNewDashContiner{
    background: linear-gradient(-90deg,#30f9d7  0, #94eff9 100%);
    min-height: 80px;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px;
}
#packNewDashContiner{
    background: linear-gradient(-90deg,#30f9d7  0, #94eff9 100%);
    height: 80px;
   
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   border-radius: 5px;
}
#CateBtnDashNew{
background-color: #fcf5f5;
margin: 10px 0px;
padding: 10px;
border-radius: 5px;
width: 220px;
color: #53e5f4;
font-size: 22px;
font-weight: 800;
cursor: pointer;
text-align: center;
}
#CateBtnDashNew:hover{
transform: scale(1.08)
}
#GSmTEamDashNew{
    width: 400px;
    height: 80px;
    background: linear-gradient(90deg,#f34673  0, #f09a67 100%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7e4f9;
    font-size: 30px;
    font-weight: 600;
}
#GSmTEamDashNew1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -30px;
}
#sellTEamDashNew{
    width: 400px;
    height: 80px;
    background: linear-gradient(90deg,#17cca8  0, #9665c7 100%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7e4f9;
    font-size: 30px;
    font-weight: 600;
}
#sellTEamDashNew1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -30px;
}
#inputNeuDash{
    width: 100%;
    margin-top: 30px;
}
#sideBarBGC{
    background: linear-gradient(0deg,#94eef8  0, #30f9d7 100%);
    height: 100vh;
}
@media screen and (max-width: 1080px) {
    #CateNewDashContiner{
flex-direction: column;
justify-content: center;
    }
}
/* #col1Dash{
    background: linear-gradient(0deg, #0096d9 0, #025cab 100%);
    padding: 0px;
    margin: 0px;
}
#col2Dash{
    background-color: #F7F8FA;
    padding: 0px;
    margin: 0px;
}
.logoDash{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#isolate{
    margin-top: 45px;
}
#slideCol{
    background-color: #2d66af;
    height: 50px;
    box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.1), 0 3px 1px 0 rgba(252, 252, 252, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    color: white;
    font-weight: bold;

}
#slideColLogout{
    background-color: #e73e3e;
    height: 50px;
    box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.1), 0 3px 1px 0 rgba(252, 252, 252, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    color: white;
    font-weight: bold;
}

#RowDashContent{
    padding: 0px;
    margin: 50px;
}
#RowDashContent1{
    padding: 0px;
    margin: 50px;
    
}
#colBtnDash{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#cardDashContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: black;
}
#borderCard1{
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 5px;
    border-left: .25rem solid #4e73df!important;
    min-width: 200px;
    max-width: 248.5px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardDashTitle1{
    color: #4e73df;
    margin-bottom: 10px;
}
#borderCard2{
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 5px;
    border-left: .25rem solid #1cc88a!important;
    min-width: 200px;
    max-width: 248.5px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardDashTitle2{
    color: #1cc88a;
    margin-bottom: 10px;
}
#borderCard3{
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 5px;
    border-left: .25rem solid #36b9cc!important;
    min-width: 200px;
    max-width: 248.5px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardDashTitle3{
    color: #36b9cc;
    margin-bottom: 10px;
}
#borderCard4{
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 5px;
    border-left: .25rem solid #f6c23e!important;
    min-width: 200px;
    max-width: 248.5px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardDashTitle4{
    color: #f6c23e;
    margin-bottom: 10px;
}
#RowTable{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.activeDash1{
   display: inline-block;
   width: 100%;
   border-left: .25rem solid #f73333!important;
   
}
.activeDash2{
    display: inline-block;
    width: 100%;
    border-left: .25rem solid #f73333!important;  
 }
 #inputnamepackeg{
    width: 100%;
}
#pricepackeg,#titleImgPackeg{
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    #col1Dash{
         height: 150px;
         display: flex;
         justify-content: space-between;
    }
    .logoDash{
        margin-top: 0px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #isolate{
        margin-top: 0px;
    }
    #continerButtonDash{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    #slideCol{
        background-color: #2d66af;
        height: 40px;
        width: 120px;
        box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.1), 0 3px 1px 0 rgba(252, 252, 252, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        color: white;
        font-weight: bold;
    }
    .activeDash1{
        display: inline-block;
        width: 140px;
        border-left: .25rem solid #f73333!important;
        border-top: .25rem solid #2d66af!important;
        border-bottom: .25rem solid #2d66af!important;
         
     }
     .activeDash2{
         display: inline-block;
         width: 140px;
         border-left: .25rem solid #f73333!important;
      
      
          
      }
    #slideColLogout{
        background-color: #e73e3e;
        height: 40px;
        width: 150px;
        box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.1), 0 3px 1px 0 rgba(252, 252, 252, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-top: 2px;
        color: white;
        font-weight: bold;
    }
  
}
@media screen and (max-width: 576px) {
  #teest{display: flex;
align-items: center;
justify-content: center;}
#RowDashContent{
    padding: 0px;
    margin: 20px;
}
#borderCard1{
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 5px;
    border-left: .25rem solid #4e73df!important;
    max-width: 248.5px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardDashTitle1{
    color: #4e73df;
    margin-bottom: 10px;
}
.logoDash{
    margin-top: 0px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#isolate{
    margin-top: 0px;
}
#continerButtonDash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}
#slideCol{
    background-color: #2d66af;
    height: 40px;
    width: 150px;
    box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.1), 0 3px 1px 0 rgba(252, 252, 252, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-weight: bold;
}
#slideColLogout{
    background-color: #e73e3e;
    height: 40px;
    width: 150px;
    box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.1), 0 3px 1px 0 rgba(252, 252, 252, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-weight: bold;
}
.activeDash1{
    display: inline-block;
    width: 150px;
    border-left: .25rem solid #f73333!important;
    margin-left: -25px;
   
     
 }
 .activeDash2{
     display: inline-block;
     width: 150px;
     border-left: .25rem solid #f73333!important;
     margin-left: -25px;
  
      
  } 
} */
