#forgetPasswordContinerInput{
    text-align: center;
}
#inputForgetPassword{
    margin: 80px;
    padding-left: 20px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border:solid 1px #999;

}
#inputForgetPasswordRE{
    margin: -30px 80px 80px 80px ;
    padding-left: 20px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border:solid 1px #999;

}
#inputForgetPassword:hover{
border:solid 1px #f75457;
}
#inputForgetPassword:focus{
    outline: none;
}
#messagecheack{
    width: 100%;
    text-align: center;
    padding-top: 35vh;
}
#bTnContactSend1:focus{
    border: solid 1px #f75457;
}
#bTnContactSend1:focus{
    outline: none;
}

#bTnContactSend1{
height: 60px;
width: 80px;
background-color: #f75457;
color: #fff;
font-weight: 400;
font-size: 18px;
border-radius: 10px;
border: 0px;
margin-right: 10px;
cursor: pointer;
}