#continerSlider2 {
    /* margin-top: 100px; */
    padding-top: 80px;
    margin-right: 30px;
    margin-left: 60px;
}

#arownext {
    font-size: 24px;
    height: 32px;
    padding: 7.5px 6px;
    width: 32px;
    color: rgb(135, 207, 133)
}

#arownext:hover {
    box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.1), 0 3px 3px 0 rgba(20, 23, 28, 0.1);
}

#MaincontinerNewCard {
    width: 290px;
    height: 360px;
    display: flex;
    justify-content: center;
}

#continerNewCard {
    width: 260px;
    height: 360px;
    display: flex;
    justify-content: center;
}

#continerNewCard1 {
    width: 256px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#continerNewCard2 {
    width: 250px;
    height: 360px;
    background-image: linear-gradient(to right, rgb(43, 216, 52), yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

#headerNewCard {
    background-image: url('../hcourse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    z-index: 2;
}

#divReduisCard {
    width: 290px;
    height: 20px;
    background-image: linear-gradient(to right, rgb(43, 216, 52), yellow);
    border-radius: 10px;
    position: absolute;
    margin-top: 90px;
    z-index: 1;
    opacity: 0.5;
}

#TitleNewCard {
    width: 230px;
    height: 50px;
    background-image: linear-gradient(to right, rgb(43, 216, 52), yellow);
    position: absolute;
    z-index: 10;
    margin-top: 80px;
    border-radius: 8px;
    -webkit-box-shadow: 0 15px 6px -6px #666;
    -moz-box-shadow: 0 15px 6px -6px #666;
    box-shadow: 0 15px 6px -6px #666;
    display: flex;
    align-items: center;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 10px;
}

#BodyNewCard {
    width: 256px;
    height: 220px;
    position: absolute;
    margin-top: 100px;
    z-index: 5;
    border: solid 1px #eee;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#BodyNewCardImg {
    height: 80px;
    width: 200px;
    margin-top: 50px;
    border: solid 1px #AAA;
    border-radius: 5px;
}

#BodyNewCardAut {
    display: flex;
}

#authCardImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -40px;
}

#authCardTitle {
    margin-top: 20px;
    margin-left: 10px;
    line-height: 1.2;
    font-size: 0.8rem;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btnBuyNewCard {
    margin-left: 60px;
    margin-top: 110px;
    position: absolute;
}

#btnBuyNewCardPrice {
    z-index: 11;
    width: 50px;
    margin-left: 190px;
    margin-top: -15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: solid 1px #AAA;
    border-radius: 10px;
    background-color: rgb(243, 224, 227);
}

#bgcCourses {
    background-image: url('../bgcCourse.png');
    background-repeat: no-repeat;
    background-size: 100% 700px;
    width: 100%;
}

#bgcCourses h1 {
    color: #ebcdcd;
    font-size: 4rem;
    font-weight: 1000;
    text-align: center;
    padding-top: 80px;
}

#bgcCourses h3 {
    font-weight: 800;
    text-align: center;
    margin-top: 60px;
}

#bgcCourses h6 {
    font-weight: bold;
    text-align: center;
}

#videoHomeContiner {
    margin-top: 50px;
}

#videoHomeContiner1 {
    display: flex;
    margin-top: 50px;
}

#videoHomeContiner2 {
    display: flex;
}

#videoHometitle {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: crimson;
    font-weight: 1000;
}

#v1 {
    background-image: url('../test1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#v2 {
    background-image: url('../course9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#v3 {
    background-image: url('../course3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#v4 {
    background-image: url('../course2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#v5 {
    background-image: url('../course7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#v6 {
    background-image: url('../course4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#v1:hover, #v2:hover, #v3:hover, #v4:hover, #v5:hover, #v6:hover {
    transform: scale(1.01);
    -moz-box-shadow: 0 0 5px rgb(197, 61, 61);
    -webkit-box-shadow: 0 0 5px rgb(197, 61, 61);
    box-shadow: 0 0 5px rgb(197, 61, 61);
}

#homePackagesContiner {
    position: relative;
    display: inline-block;
}

#bgcPackage {
    width: 98.5vw;
    z-index: 19;
}

#daimond {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 15%;
    z-index: 20;
}

#details1 {
    position: absolute;
    top: 29%;
    left: 86%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#daimondShop {
    position: absolute;
    top: 35%;
    left: 87%;
    width: 3%;
    z-index: 20;
    cursor: pointer;
}

#daimondPrice {
    position: absolute;
    top: 35%;
    left: 70%;
    width: 10%;
    z-index: 20;
    font-size: 2.5rem;
    font-weight: bold;
}

#platinum {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 15%;
    z-index: 20;
}

#details2 {
    position: absolute;
    top: 49%;
    left: 66%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#platinumShop {
    position: absolute;
    top: 55%;
    left: 67%;
    width: 3%;
    z-index: 20;
    cursor: pointer;
}

#platinumPrice {
    position: absolute;
    top: 55%;
    left: 50%;
    width:10%;
    z-index: 20;
    font-size: 2.5rem;
    font-weight: bold;
}

#gold {
    position: absolute;
    top: 60%;
    left: 30%;
    width: 15%;
    z-index: 20;
}

#details3 {
    position: absolute;
    top: 69%;
    left: 46%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#goldShop {
    position: absolute;
    top: 75%;
    left: 47%;
    width: 3%;
    z-index: 20;
    cursor: pointer;
}

#goldPrice {
    position: absolute;
    top: 75%;
    left: 30%;
    width:10%;
    z-index: 20;
    font-size: 2.5rem;
    font-weight: bold;
}

#selver {
    position: absolute;
    top: 79%;
    left: 10%;
    width: 15%;
    z-index: 20;
}

#details4 {
    position: absolute;
    top: 88%;
    left: 26%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#selverShop {
    position: absolute;
    top: 94%;
    left: 27%;
    width: 3%;
    z-index: 20;
    cursor: pointer;
}

#selverPrice {
    position: absolute;
    top: 94%;
    left: 10%;
    width:10%;
    z-index: 20;
    font-size: 2.5rem;
    font-weight: bold;
}

#selver:hover, #gold:hover, #platinum:hover, #daimond:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#details1:hover, #details2:hover, #details3:hover, #details4:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.1), 0 3px 3px 0 rgba(20, 23, 28, 0.1);
}

/* @media screen and (max-width: 740px) {
    #cardContiner {
        width: 215px;
        height: 290px;
        line-height: 1;
        color: #29303B;
        background-color: #F7F8FA;
        margin-left: 25%;
        display: inline-block;
        position: relative;
        text-align: left;
        vertical-align: top;
    }
} */