#continerSlider2 {
    /* margin-top: 100px; */
    padding-top: 80px;
    margin-right: 30px;
    margin-left: 60px;
}

#arownext {
    font-size: 24px;
    height: 32px;
    padding: 7.5px 6px;
    width: 32px;
    color: rgb(135, 207, 133)
}

#arownext:hover {
    box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.1), 0 3px 3px 0 rgba(20, 23, 28, 0.1);
}

#MaincontinerNewCard {
    width: 290px;
    height: 360px;
    display: flex;
    justify-content: center;
}

#continerNewCard {
    width: 260px;
    height: 360px;
    display: flex;
    justify-content: center;
}

#continerNewCard1 {
    width: 256px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#continerNewCard2 {
    width: 250px;
    height: 360px;
    /* background-image: linear-gradient(to right, rgb(43, 216, 52), yellow); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

#headerNewCard {
    background-color: #eee;
    width: 100%;
    height: 100px;
    z-index: 2;
}
#loginBtn{
    background: white;
    border: solid 1px #e5ecff;
    height: 40px;
    font-size: 16px;
    color: #403838;
}
#logoutBtn{
    background: #f14950;
    margin-top: 8px;
    /* border: solid 1px #e5ecff; */
    height: 36px;
    font-size: 16px;
    color: #ffffff;
}

#divReduisCard {
    width: 290px;
    height: 20px;
    /* background-image: linear-gradient(to right, rgb(43, 216, 52), yellow); */
    border-radius: 10px;
    position: absolute;
    margin-top: 90px;
    z-index: 1;
    opacity: 0.5;
}

#TitleNewCard {
    width: 230px;
    height: 50px;
    /* background-image: linear-gradient(to right, rgb(43, 216, 52), yellow); */
    position: absolute;
    z-index: 10;
    margin-top: 80px;
    border-radius: 8px;
    -webkit-box-shadow: 0 15px 6px -6px #666;
    -moz-box-shadow: 0 15px 6px -6px #666;
    box-shadow: 0 15px 6px -6px #666;
    display: flex;
    align-items: center;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 10px;
}

#BodyNewCard {
    width: 256px;
    height: 220px;
    position: absolute;
    margin-top: 100px;
    z-index: 5;
    border: solid 1px #eee;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#BodyNewCardImg {
    height: 80px;
    width: 200px;
    margin-top: 50px;
    border: solid 1px #AAA;
    border-radius: 5px;
}

#BodyNewCardAut {
    display: flex;
}

#authCardImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -40px;
}

#authCardTitle {
    margin-top: 20px;
    margin-left: 10px;
    line-height: 1.2;
    font-size: 0.8rem;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btnBuyNewCard {
    margin-left: 60px;
    margin-top: 110px;
    position: absolute;
}
#CorsSubT{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.3rem;
    padding: 5px;
    line-height: 1.0em;
    margin-top: 10px;
}
#btnBuyNewCardPrice {
    z-index: 11;
    width: 65px;
    margin-left: 190px;
    margin-top: -15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: solid 1px #AAA;
    border-radius: 10px;
    background-color: rgb(243, 224, 227);
}

#bgcCourses {
    background-image: url('../bgcCourse.png');
    background-repeat: no-repeat;
    background-size: 100% 700px;
    width: 100.2%;
    margin-left: -3px;
}

#bgcCourses h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f7e6e6;
    font-size: 60pt;
    
    text-align: center;
    padding-top: 80px;
    /* margin-top: 50px */
}

#bgcCourses h3 {
    font-family:Arial, Helvetica, sans-serif;
   margin-top: 70px;
    text-align: center;
    font-size: 23pt;
    margin-left: 10px;
    margin-right: 10px;
}
#bgcCourses h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    text-align: center;
    font-size: 21pt;
    margin-left: 100px;
    margin-right: 100px;
}

#bgcCourses h6 {
    font-weight: bold;
    text-align: center;
}

#videoHomeContiner {
    margin-top: 50px;
    width: 103%;
}

#videoHomeContiner1 {
    display: flex;
    margin-top: 50px;
}

#videoHomeContiner2 {
    display: flex;
}

#videoHometitle {
    display: flex;
    justify-content: center;
    font-size: 60pt;
    color: crimson;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body{
    overflow-x: hidden; 
}
#v1:hover, #v2:hover, #v3:hover, #v4:hover, #v5:hover, #v6:hover {
    transform: scale(1.01);
    -moz-box-shadow: 0 0 5px rgb(197, 61, 61);
    -webkit-box-shadow: 0 0 5px rgb(197, 61, 61);
    box-shadow: 0 0 5px rgb(197, 61, 61);
}

#homePackagesContiner {
    position: relative;
    display: inline-block;
}

#bgcPackage {
    width: 100vw;
    z-index: 19;
}

#daimond {
    position: absolute;
    top: 15%;
    left: 70%;
    width: 15%;
    z-index: 20;
}

#details1 {
    position: absolute;
    top: 24%;
    left: 86%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#platinum {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 15%;
    z-index: 20;
}

#details2 {
    position: absolute;
    top: 44%;
    left: 66%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}



#gold {
    position: absolute;
    top: 55%;
    left: 30%;
    width: 15%;
    z-index: 20;
}

#details3 {
    position: absolute;
    top: 64%;
    left: 46%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#selver {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 15%;
    z-index: 20;
}

#details4 {
    position: absolute;
    top: 84%;
    left: 26%;
    width: 80px;
    height: 6%;
    z-index: 20;
    background-image: linear-gradient(to right, #f5c7f7, #32dbc6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}


#selver:hover, #gold:hover, #platinum:hover, #daimond:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#details1:hover, #details2:hover, #details3:hover, #details4:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.1), 0 3px 3px 0 rgba(20, 23, 28, 0.1);
}
.yyy{
    min-width: 250px;
    max-width: auto;
    min-height: 50px;
    white-space: pre;
}
@media screen and (max-width: 740px) {
    #details1,#details2,#details3,#details4 {
        width: 40px;
        font-size: 10px;
    }
    #videoHometitle {
        font-size: 2rem;
        text-align: center;
    }
    #bgcCourses h3 {
        font-weight: 500;
        font-size: 18px;
        /* padding: 0; */
        padding: 0px 29px;
    }
}