#footercontiner{
background-color: #F7F8FA;
}


#mediacrosol1{
    margin-left: 10px;
}
#getFooter{
    align-items: center;
    background-color: #29303B;
    color: #F7F8FA;
    display: flex;
    height: 360px;
    justify-content: center;
    justify-content: space-around;
}

#continerCrosol{
    height: 360px; 
}
#studentCrosol{
    margin-top: 30px;
    text-align: center;
}
#studentCroso h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
}
#mediacroso{
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(20,23,28,0.15);
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 10px;
    height: 100%;
    min-height: 260px;
    padding: 32px;
}

#trustedicon{
    margin-top: 10px;
    margin-bottom: 10px;
}
#imagecontiner{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
#becomAndbusines{
    padding-bottom:20px;
}
#becomeContiner{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding-left:110px ;
    padding-right: 110px;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(20,23,28,0.15);
     
}
#becomeContiner h2{
    font-size: 1.4rem;
}
#copyriteContiner{
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color: #fff;

}
#OurTeamContiner{
    width: 100%;
    height: 900px;
    background-color: #222831;
    display: flex;
    flex-direction: column;
margin-top: -5px;
    align-items: center;
    z-index: 20;

}
#cardOurTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F7F8FA;
    width: 350px;
}
#OURTEAM_title{
    margin-top: 100px;
    color: #FFF;
    font-size: 60pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#imageOurteamCard{
    height: 350px;
width: 350px;
box-shadow: 0 1px 13px 0 rgba(246, 248, 252, 0.85);
border-radius: 50%;
margin-top: 100px;
margin-left: 40px;
}
#titleourTeamCard{
margin-top: 50px;
margin-left: 50px;
font-size: 2.3rem;
font-weight: 800;
text-align: center;
}
#titleourTeamCard1{
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
}
#ourTeamSliderContiner{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}
#barinstructorContiner{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(to right, #00b9d4, #2affcc);
    display: flex;
    align-items: center;
}
#logoInstructour{
    height: 100px;;
    margin-left: 50px;
}
#btn_InstrctorContiner{
    display: flex;
}
#pargrapBforeBtn{
color: #FFF;
font-size: 3.2rem;
font-weight: 1000;
margin-left: 50px;
}
#btn_Instrctor{
    color: #000000;
    font-size: 3.2rem;
    font-weight: 1000;
    margin-left: 10px;
    height: 74px;
    width: 300px;
    background-image: linear-gradient(to right, #7f4782, #ff4057);
    padding-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
#btn_Instrctor:hover{
    transform: scale(1.05);
}
#newFooterContiner{
width: 100%;
height: 300px;
background-color: #222831;
}
#newFooterContiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#New_FooterRow1{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
#New_FooterRow2{
    color: #FFF;
    display: flex;
    justify-content: space-around;
    
}
#New_FooterRow3{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#LOGANDCOPY{
    display: flex;
    align-items: center;
}
#logoFOOTER{
height: 50px;
margin-left: 20px;
}
#CORY_RIGHT{
    margin-left: 20px;
    color: #FFF;
}
#SosialLOGO{
    
    margin-right: 20px;
    cursor: pointer;
}
#trustedby_BTN,#GSMTeam_BTN,#AboutUs_BTN{
margin-top: 20px;
font-size: 1.1rem;
color: #eee;
}
#TermsOfService_BTN,#ContactUs_BTN{
    margin-top: -20px;
    font-size: 1.1rem;
color: #eee;
}
@media screen and (max-width: 888px) {
    #barinstructorContiner{
        justify-content: space-between;
    }
    #btn_InstrctorContiner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #pargrapBforeBtn{
        font-size: 2.5rem;
        font-weight: 700;
        margin-right: 40px;
    }
    #btn_Instrctor{
        color: #000000;
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 50px;
        margin-right: 40px;
        height: 50px;
        width: 210px;
     
    
       
    }
}
@media screen and (max-width: 680px) {
    #barinstructorContiner{
        justify-content: space-between;
    }
    #imageOurteamCard {
        height: 250px;
        width: 250px;
        box-shadow: 0 1px 13px 0 rgba(246, 248, 252, 0.85);
        border-radius: 50%;
        margin-top: 100px;
        margin-left: 51px;
    }
    #goldPrice ,#platinumPrice,#selverPrice,#daimondPrice{
        font-size: 11px;
    }
    #titleourTeamCard {
        margin-top: 50px;
        margin-left: -16px;
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
    }
    #titleourTeamCard1 {
        text-align: center;
        font-weight: bold;
        /* margin-left: 50px; */
    }
    #btn_InstrctorContiner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #pargrapBforeBtn{
        font-size: 1.2rem;
        font-weight: 500;
        margin-right: 30px;
    }
    #btn_Instrctor{
        color: #000000;
        font-size:1.2rem;
        font-weight: 500;
        margin-left: 30px;
        margin-right: 30px;
        height: 30px;
        width: 100px;
     
    
       
    }
    #OurTeamContiner{
        margin-top: 2px
    
    }
    #New_FooterRow1 {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        margin-top: 30px;
    }
    #TermsOfService_BTN, #ContactUs_BTN {
        margin-top: -20px;
        font-size: 12px;
        color: #eee;
    }
    #trustedby_BTN, #GSMTeam_BTN, #AboutUs_BTN {
        margin-top: 20px;
        font-size: 12px;
        color: #eee;
    }
    #CORY_RIGHT {
        margin-left: 0px;
        font-size: 14px;
        margin-left: 0px;
   
    }
    #SosialLOGO {
        width: 25px;
        margin-right: 15px;
        cursor: pointer;
        margin-top: 9px;
    }
    
}
