#collapss{   box-shadow: 0 1px 3px 0 rgba(20,23,28,0.15);}

#continer_header{
  position: relative;
  display: inline-block;
}
  #homeImage{
    width: 100vw;

  }

 #searchHome{
  position: absolute;
  top: 3.8vw;
  left:59vw ;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
 }
 #searchHome1{
height: 32px;
padding-left: 10px;
margin-left: -30px;
 }
 #gifHomePageCOntiner{
   position: relative;
width: 100%;
height: 80px;
 }
 #gifhomeImage{
width: 100%;

 }
 @media screen and (max-width: 1200px) {
  #searchHome{
    left:60vw ;
    top:2.5vw;
  }
 
 }
 @media screen and (max-width: 868px) {
  #searchHome{
    left:60vw ;
    top:1.5vw;
  }
 
 }
 @media screen and (max-width: 680px) {
  #searchHome{
    top: -7vw;
    left:35vw ;
    width: 200px;
  }
  #gifHomePageCOntiner {
    height: 20px;
}

 
}